extends ../base

block content 
    if errorMessage
        span=errorMessage
    form(method="post")
        input(placeholder="Old Password" name="oldpassword")
        input(placeholder="New Password" name="newpassword")
        input(placeholder="New Password Confirmation" name="newpasswordConfirmation")
        input(value="Change Password", type="submit")